@font-face {
    font-family: "CircularStd-Book";
    src: url("../../assets/fonts/CircularStd/CircularStd-Book.otf") format("opentype");
    src: url("../../assets/fonts/CircularStd/CircularStd-Book.ttf") format("truetype");
    src: url("../../assets/fonts/CircularStd/CircularStd-Book.eot")
      format("embedded-opentype");
    src: url("../../assets/fonts/CircularStd/CircularStd-Book.woff") format("woff");
    src: url("../../assets/fonts/CircularStd/CircularStd-Book.woff2") format("woff2");
  }
  @font-face {
    font-family: "CircularStd-BookItalic";
    src: url("../../assets/fonts/CircularStd/CircularStd-BookItalic.otf")
      format("opentype");
    src: url("../../assets/fonts/CircularStd/CircularStd-BookItalic.ttf")
      format("truetype");
    src: url("../../assets/fonts/CircularStd/CircularStd-BookItalic.eot")
      format("embedded-opentype");
    src: url("../../assets/fonts/CircularStd/CircularStd-BookItalic.woff")
      format("woff");
    src: url("../../assets/fonts/CircularStd/CircularStd-BookItalic.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "CircularStd-Medium";
    src: url("../../assets/fonts/CircularStd/CircularStd-Medium.otf")
      format("opentype");
    src: url("../../assets/fonts/CircularStd/CircularStd-Medium.ttf")
      format("truetype");
    src: url("../../assets/fonts/CircularStd/CircularStd-Medium.eot")
      format("embedded-opentype");
    src: url("../../assets/fonts/CircularStd/CircularStd-Medium.woff") format("woff");
    src: url("../../assets/fonts/CircularStd/CircularStd-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "CircularStd-MediumItalic";
    src: url("../../assets/fonts/CircularStd/CircularStd-MediumItalic.otf")
      format("opentype");
    src: url("../../assets/fonts/CircularStd/CircularStd-MediumItalic.ttf")
      format("truetype");
    src: url("../../assets/fonts/CircularStd/CircularStd-MediumItalic.eot")
      format("embedded-opentype");
    src: url("../../assets/fonts/CircularStd/CircularStd-MediumItalic.woff")
      format("woff");
    src: url("../../assets/fonts/CircularStd/CircularStd-MediumItalic.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "CircularStd-Bold";
    src: url("../../assets/fonts/CircularStd/CircularStd-Bold.otf") format("opentype");
    src: url("../../assets/fonts/CircularStd/CircularStd-Bold.ttf") format("truetype");
    src: url("../../assets/fonts/CircularStd/CircularStd-Bold.eot")
      format("embedded-opentype");
    src: url("../../assets/fonts/CircularStd/CircularStd-Bold.woff") format("woff");
    src: url("../../assets/fonts/CircularStd/CircularStd-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "CircularStd-BoldItalic";
    src: url("../../assets/fonts/CircularStd/CircularStd-BoldItalic.otf")
      format("opentype");
    src: url("../../assets/fonts/CircularStd/CircularStd-BoldItalic.ttf")
      format("truetype");
    src: url("../../assets/fonts/CircularStd/CircularStd-BoldItalic.eot")
      format("embedded-opentype");
    src: url("../../assets/fonts/CircularStd/CircularStd-BoldItalic.woff")
      format("woff");
    src: url("../../assets/fonts/CircularStd/CircularStd-BoldItalic.woff2")
      format("woff2");
  }
  @font-face {
    font-family: "CircularStd-Black";
    src: url("../../assets/fonts/CircularStd/CircularStd-Black.otf") format("opentype");
    src: url("../../assets/fonts/CircularStd/CircularStd-Black.ttf") format("truetype");
  }
  